/*adding resets*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		transition: none;
	}
}

body,
html {
	height: 100%;
	scroll-behavior: smooth;
}
/*resets end*/

.modal {
	margin: auto;
	padding: 2rem;
}
form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
form div > label {
	margin-bottom: 0.5rem;
}
input {
	padding: 0.5rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	margin: 2rem 1rem 0 1rem;
}
.incomplete {
	width: 100%;
	height: auto;
	border: 1px solid red;
	padding: 0.5rem;
}
form div {
	display: flex;
	flex-direction: column;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.book {
	padding: 1.5rem;
	border: 1px solid #ccc;
}
.book div {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5rem;
}
.btns {
	display: flex;
	justify-content: space-around;
}
button {
	padding: 0.5rem 1rem;
}
button:not(.remove-book) {
	background-color: blanchedalmond;
}
.remove-book {
	background-color: rgba(0, 0, 0, 0.781);
	color: white;
}
.book {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5rem;
}
.title-info,
.author-info,
.pages-info,
.read-info {
	font-weight: 800;
	font-style: italic;
}
.title-info {
	color: #0066bf;
}
.author-info {
	color: #00a1a1fa;
}
.pages-info {
	color: #35b11dfa;
}
.read-info {
	color: brown;
}
